<main class="container-forms-login">
<section class="content-login">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="content-circule">
        <span class="circule"></span>
    </div>
  
    <div class="content-logo"  for="chk">
        <img src="../../../assets/logo-burguer.png" alt="logo">
    </div>
    <div class="login-next">
        <form action="#">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button id="btn-login">Login</button>
        </form>
    </div>
</section>
</main>