<main class="container-forms-login">
    <section class="content-login">
      <input type="checkbox" id="chk" aria-hidden="true">
      <div class="content-circule">
        <span class="circule"></span>
      </div>
  
      <div class="content-logo" for="chk">
        <img src="../../../assets/logo-burguer.png" alt="logo">
      </div>
      <div class="login-next">
        <form [formGroup]="loginForm" (submit)="login()">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="email" id="email" formControlName="email" placeholder="Email">
          <div *ngIf="loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.dirty ||  loginForm.get('email')?.touched)">
            <p class="error-text">Correo requerido</p>
          </div>
          <div *ngIf="loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <p class="error-text">Correo no valido</p>
          </div>
          <input type="password" id="password" formControlName="password" placeholder="Password">
          <div *ngIf="loginForm.get('password')?.hasError('required') && ( loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <p class="error-text">Contraseña requerida</p>
          </div>
          <button type="submit" id="btn-login">Login</button>
          <div *ngIf="errorMessage" class="error-text">
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </section>
  </main>
  
  