#content-background{
    width: 100%;
    min-height: 215px;
}
img{
    width: 100%;
    height: 215px;
    background-size: cover;
    background-position: center center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 20px;
    bottom: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 75% 25%; 
}

.parrafo {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin: 2rem;
}

.title{
    color: var(--color-text);
    font-size: 2rem;
    padding: 2rem;
}

.icon-mesero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end; 
    padding: 4px;

}

.icon-mesero i{
    color:var(--color-text);
    font-size: 2.8rem;
  
}
.parrafo-text{
    font-size: 1rem;
    text-align: end;
    color:var(--color-text);
}

.btn-redirect{
    margin: 10px;
    padding: 0px;
    width: 4%;
    height: 18%;
    border: 3px solid var(--color-primary);
    border-radius: 70%;
    
}

.btn-redirect i{
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight:800;
}

.btn-redirect:hover{
    background-color:var(--color-primary);
}

.btn-redirect i:hover{
    color: var(--color-content);
}


