<div class="d-flex align-items-start flex-column mb-2" style="height: 203px; background-size: cover; position: relative;">
   <div class="d-flex align-items-start flex-column" id="content-background">
      <img src="../../../assets/banner-mesero.png" alt="banner-mesero">

   </div>
   <div class="overlay">
      <!-- Contenido superpuesto con íconos -->
      <div class="icon-mesero"><i class="bi bi-person-circle"></i></div>
      <div class="icon-mesero"><i class="bi bi-box-arrow-in-right"></i></div>
      <div class="parrafo"><p class="title">Lista de pedidos</p></div>
   </div>
</div>
