<div class="d-flex align-items-start flex-column mb-2" style="height: 203px; background-color: #000;">
   <div class="d-flex align-items-start flex-column" id="content-background">
    <img src="../../../assets/banner-mesero.png" alt="banner-logo">
   </div>
      <div class="overlay">
         <div class="p-2">Texto</div>
         <div class="icon-user"><i class="bi bi-person-circle"></i></div>
         <div class="icon-sign-out"><i class="bi bi-box-arrow-in-right"></i></div>
      </div>
</div>